<html> 
  <head>
  </head>
  <body>
    <header>
        <h2>
            The <%=title%> 
        </h2>
    </header>


    <!--
    // include header.ejs, Hint
    -->

    <div class="container">
        <h1>
            Welcome to the <%=title%> 
        </h1>

        <a href="/profile">Profile</a>
    </div>

    <br>

    <a href="/transfer">Transfer</a>

    <!--
    // include footer.ejs, Hint
     -->

  </body>
</html>